<div class="col-lg-3 col-sm-6">
    <div class="card gradient-3">
        <div class="card-body">
            <h3 class="card-title text-white">Güncel Kurlar @DateTime.Now.ToString(string.Format("dd/MM/yyyy"))</h3>
            <div class="d-inline-block">
                <p class="text-white mb-0">USD - TRY : @ViewBag.UsdToTry</p>
                <p class="text-white mb-0">EUR - TRY : @ViewBag.EurToTry</p>
                <p class="text-white mb-0">GBP - TRY : @ViewBag.GbpToTry</p>
                <p class="text-white mb-0">JPY - TRY : @ViewBag.YenToTry</p>
            </div>
            <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
        </div>
    </div>
</div>